@font-face {
    font-family: "Raleway";
    src: url("font/Raleway-Regular.ttf"),
         url("font/Raleway-ExtraBold.ttf"),
         url("font/Raleway-ExtraLight.ttf"),
         url("font/Raleway-Heavy.ttf"),
         url("font/Raleway-Light.ttf"),
         url("font/Raleway-Medium.ttf"),
         url("font/Raleway-Regular.ttf"),
         url("font/Raleway-Bold.ttf"),
         url("font/Raleway-SemiBold.ttf"),
         url("font/Raleway-Thin.ttf");
    font-weight: normal;
    font-style: normal;
}

#bloc_page {
    font-family: "Raleway", serif, sans-serif;
    width: auto;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    font-weight: bold;
}

ul li {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    color: #0065FC;
}

header a {
    color: #0065FC;
    padding-right: 30px;
    padding-left: 30px;
}

header a:hover {
    color: #003f9c;
    border-top: #003f9c solid;
    padding-top: 21px;
    padding-right: 30px;
    padding-left: 30px;
}

#logo_reservia {
    width: 7%;
    height: 7%;
}

#section_recherche h1{
    font-size: 22px;
    margin-bottom: -10px;
}

#section_recherche p{
    font-size: 16px;
    font-weight: normal;
}

.fa-map-marker-alt {
    background-color: #F2F2F2;
    border-top: #F2F2F2 solid 1px;
    border-bottom: #F2F2F2 solid 1px;
    border-left: #F2F2F2 solid 1px;
    border-right: none;
    font-size: 19px;
    padding: 16px;
    border-radius: 20px 0 0 20px;

}

#search_button {
    background-color: #0065FC;
    color: white;
    text-decoration: none;
    padding: 16.6px 16px 16px 16px;
    border-radius: 0 20px 20px 0;
    border-top: #F2F2F2 solid 1px;
    border-bottom: #F2F2F2 solid 1px;
    border-left: none;
    border-right: #F2F2F2 solid 1px;
    font-weight: bold;
}

#search_button:hover {
    background-color: #003f9c;
}

input {
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    border-top: #F2F2F2 solid 1px;
    border-bottom: #F2F2F2 solid 1px;
    border-left: none;
    border-right: #F2F2F2 solid 1px;
    padding-left: 20px;
    font-size: 18px;
}

#barre_recherche {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

#filtres ul li {
    display: inline-block;
    margin-right: 20px;
    margin-left: -35px;
}

#filtres ul li a {
    border: solid rgb(201, 201, 201) 1px;
    border-radius: 20px;
    padding-top: 8px;
    padding-bottom: 9px;
    padding-right: 15px;
}

#filtres {
    margin-bottom: 50px;
}

li i {
    background-color: #DEEBFF;
    color: #0065FC;
    padding: 10px 15px 10px 15px;
    border-radius: 100%;
    margin-right: 10px;
}

a {
    text-decoration: none;
}

#info {
    margin-bottom: 30px;
}

#hebergements {
    background-color: #F2F2F2;
    padding: 20px;
    border-radius: 20px;
    max-width: 60%;
    max-height: auto;
}

#hebergements h1 {
    font-weight: bold;
    font-size: 1.5em;
    padding-left: 30px;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.flex img {
    width: 100%;
    height: 100%;
    border: solid white 5px;    
}
.stars {
    padding-left: 15px;
    margin-bottom: -10px;
}

footer {
    background-color: #F2F2F2;
    display: flex;
    font-size: 14px;
    font-family: Arial;
}

footer ul li a {
    color: black;
}

footer ul li {
    padding-bottom: 10px;
    padding-right: 250px;
}

 #filtres ul li a {
    color:black;
    font-weight: bold;
    font-size: 20px;
}

#filtres ul li {
    padding-right: 30px;
    font-weight: bold;
    font-size: 20px;
}

.fa-star {
    color: #0065FC;
}

.fa-info {
    color: #0065FC;
    border: rgb(201, 201, 201) solid 1px;
    padding: 7px 11px 7px 11px;
    border-radius: 100%;
    font-size: 13px;
    margin-right: 5px;
}