@font-face {
    font-family: "Raleway";
    src: url("font/Raleway-Regular.ttf"),
         url("font/Raleway-ExtraBold.ttf"),
         url("font/Raleway-ExtraLight.ttf"),
         url("font/Raleway-Heavy.ttf"),
         url("font/Raleway-Light.ttf"),
         url("font/Raleway-Medium.ttf"),
         url("font/Raleway-Bold.ttf"),
         url("font/Raleway-SemiBold.ttf"),
         url("font/Raleway-Thin.ttf");
    font-weight: normal;
    font-style: normal;
}

#bloc_page {
    font-family: "Raleway", serif, sans-serif;
    width: auto;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    font-weight: bold;
}

ul li {
    list-style-type: none;
}

header ul li {
    font-weight: normal;
    display: inline-block;
    color: #0065FC;
}

header ul {
    margin-left: 957px;
}

header p {
    color: #0065FC;
    margin-right: 17px;
}

header a {
    color: black;
    padding-right: 30px;
    padding-left: 30px;
}

header a:hover {
    color: #0065FC;
    border-top: #0065FC solid;
    padding-top: 21px;
    padding-right: 30px;
    padding-left: 30px;
}

.logo_reservia {
    width: 7%;
    height: 7%;
}

nav h2{
    font-size: 22px;
    margin-bottom: -10px;
}

.fa-map-marker-alt {
    background-color: #f2f2f2;
    border-top: #F2F2F2 solid 1px;
    border-bottom: #F2F2F2 solid 1px;
    border-left: #F2F2F2 solid 1px;
    border-right: none;
    font-size: 19px;
    padding: 16px;
    border-radius: 20px 0 0 20px;

}

#search_button {
    background-color: #0065FC;
    color: white;
    text-decoration: none;
    padding: 16.6px 16px 16px 16px;
    border-radius: 0 20px 20px 0;
    border-top: #F2F2F2 solid 1px;
    border-bottom: #F2F2F2 solid 1px;
    border-left: none;
    border-right: #F2F2F2 solid 1px;
    font-weight: bold;
}

#search_button:hover {
    background-color: #003f9c;
}

input {
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    border-top: #F2F2F2 solid 1px;
    border-bottom: #F2F2F2 solid 1px;
    border-left: none;
    border-right: #F2F2F2 solid 1px;
    padding-left: 20px;
    font-size: 18px;
    background-color: white;
}

#barre_recherche {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

#filtres ul li {
    display: inline-block;
    margin-right: 20px;
    margin-left: -35px;
}

#filtres ul li a {
    border: solid rgb(201, 201, 201) 1px;
    border-radius: 20px;
    padding-top: 8px;
    padding-bottom: 9px;
    padding-right: 15px;
}

#filtres ul li a:hover {
    background-color: rgb(218, 218, 218);
}

#filtres {
    margin-bottom: 50px;
}

#filtres ul {
    display: flex;
    align-items: center;
}

#filtres .fa-money-bill-wave {
    background-color: #DEEBFF;
    object-fit: fill;
    color: #0065FC;
    padding: 11px 10px 12px 10px;
    border-radius: 100%;
    margin-right: 10px;
    margin-left: -2px;
}

#filtres .fa-child {
    background-color: #DEEBFF;
    object-fit: fill;
    color: #0065FC;
    padding: 11px 15px 12px 15px;
    border-radius: 100%;
    margin-right: 10px;
    margin-left: -2px;
}

#filtres .fa-heart {
    background-color: #DEEBFF;
    object-fit: fill;
    color: #0065FC;
    padding: 11px 15px 12px 15px;
    border-radius: 100%;
    margin-right: 10px;
    margin-left: -2px;
}

#filtres .fa-dog {
    background-color: #DEEBFF;
    object-fit: fill;
    color: #0065FC;
    padding: 11px 15px 12px 15px;
    border-radius: 100%;
    margin-right: 10px;
    margin-left: -2px;
}

a {
    text-decoration: none;
    border-radius: 0 0 20px 20px;
    color: black;
}

.info {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.info p {
    font-size: 17px;
    margin-left: 7px;
}

#article {
    background-color: #F2F2F2;
    padding: 20px;
    border-radius: 20px;
    max-width: 59%;
    margin-bottom: 30px;
}

.conteneur_hebergements {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.banniere a {
    border-radius: 20px;
    color: black;
}

.banniere {
    background-color: white;
    box-shadow: #cecece 0 0 30px;
    border-radius: 20px;
    margin-bottom: 50px;
}

.cannebiere {
    width: 250px;
    height: 120px;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 20px 20px 0 0;
}

.nom_hebergement {
    margin-left: 15px;
    margin-top: -18px;
}

.prix {
    margin-left: 15px;
    margin-top: -12px;
}

.stars {
    margin-left: 15px;
    margin-top: -8px;
    padding-bottom: 12px;
    font-size: 14px;
}

aside {
    background-color: #F2F2F2;
    width: auto;
    height: 100%;
    border-radius: 20px;
    padding: 20px; 
}

.conteneur_lespluspopulaires {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.banniere_2 a {
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    margin: 20px;
    box-shadow: #cecece 0 0 30px;
    margin-bottom: 25px;
    width: 450px;
}

.nomprix_stars {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 332.28px;
}

.stars_lespluspopulaires {
    margin-left: 15px;
    margin-bottom: 12px;
    font-size: 14px;
}

.populaire {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: solid white 5px;
    border-radius: 20px 0 0 20px;
}



.titre_stars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -18px;
}

.titre_stars i {
    font-size: 25px;
    padding-right: 20px;
}

.nom_prix {
    color: black;
    padding-left: 20px;
}

.nom_prix h3 {
    margin-bottom: -10px;
}

section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

section h2 {
    font-weight: bold;
    font-size: 1.5em;
    padding-left: 30px;
}

h4 {
    font-weight: bold;
    font-size: 1.5em;
    padding-left: 30px;
    margin-top: 0px;
}

footer {
    background-color: #F2F2F2;
    display: flex;
    font-size: 14px;
    width: 100%;
}

footer ul li a {
    color: black;
}

footer ul li {
    padding-bottom: 10px;
    padding-right: 250px;
}

 #filtres ul li a {
    color:black;
    font-weight: bold;
    font-size: 20px;
}

#filtres ul li {
    padding-right: 30px;
    font-weight: bold;
    font-size: 20px;
}

.fa-star {
    color: #0065FC;
}

.fa-info {
    color: #0065FC;
    border: rgb(201, 201, 201) solid 1px;
    padding: 7px 11px 7px 11px;
    border-radius: 100%;
    font-size: 13px;
    margin-right: 5px;
}

.activites_conteneur {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.activites_bloc1, .activites_bloc2, .activites_bloc3 {
    position: relative;
    margin-right: 69px;
    margin-bottom: 50px;
    box-shadow: rgb(236, 236, 236) 0 0 10px;
    border-radius: 20px;
}

.activites_bloc4 {
    position: relative;
    margin-bottom: 50px;
    box-shadow: rgb(236, 236, 236) 0 0 10px;
    border-radius: 20px;
}

.vieuxporttext, .pomeguestext, .frioultext, .calanquestext, .lagardetext, .longchamptext {
    position: absolute;
    background-color: white;
    bottom: 0;
    padding: 20px;
    font-weight: bold;
    width: 270px;
    border-radius: 0 0 20px 20px;
    color: black;
}

.vieuxport {
    width: 310px;
    height: 461px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: #cecece 0 0 30px;
}

.pomeguesfrioul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
}

.pomegues {
    width: 310px;
    height: 240px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: #cecece 0 0 30px;
}

.frioul {
    width: 310px;
    height: 180px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: #cecece 0 0 30px;
}

.calanques {
    width: 310px;
    height: 438px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: #cecece 0 0 30px;
}

.lagardelongchamp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
}

.lagarde {
    width: 310px;
    height: 195px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: #cecece 0 0 30px;
}

.longchamp {
    width: 310px;
    height: 210px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: #cecece 0 0 30px;
}

#barre_recherche .fa-search {
    display: none;
}

.headermobile {
    display: none;
}

@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
        #bloc_page {
        width: 1155px;
        margin-left: -12px;
    }

    header {
        width: auto;
    }

    #activites {
        font-size: 60px;
        font-weight: bold;
        margin-left: 20px;
    }

    aside, #article {
        width: 100%;
        border-radius: 0;
    }

    aside h2 {
        font-size: 60px;
    }

    aside h3 {
        font-size: 47px;
    }

    aside p {
        font-size: 38px;
        margin-top: 20px;
    }

    .titre_stars i {
        font-size: 70px;
    }

    .vieuxport, .pomegues, .frioul, .calanques, .lagarde, .longchamp {
        width: 950px;
        height: 450px;
        border-radius: 50px;
    }

    .vieuxporttext, .pomeguestext, .frioultext, .calanquestext, .lagardetext, .longchamptext {
        font-size: 50px;
        width: 870px;
        padding: 40px;
        border-radius: 0 0 50px 50px;
        box-shadow: #cecece 0 0 30px;
    }

    .activites_bloc1, .activites_bloc2, .activites_bloc3, .activites_bloc4 {
        margin-right: 0px;
        border-radius: 90%;
    }

    footer {
        width: 103%;
        display: flex;
        flex-direction: column;
        font-size: 30px;
    }

    .banniere_2 a {
        min-width: 950px;
        min-height: 370px;
        border-radius: 50px;
        border: solid white 7px;
    }

    .banniere_2 {
        margin-bottom: -15px;
    }

    .conteneur_lespluspopulaires {
        padding-bottom: 50px;
    }
    
    .populaire {
        height: 370px;
        width: 370px;
        border-radius: 50px 0 0 50px;
    }

    #article a h3 {
        font-size: 47px;
    }

    .stars_lespluspopulaires {
        font-size: 35px;
        margin-bottom: 20px;
    }

    .nomprix_stars {
        margin-left: 30px;
    }

    .nom_prix {
        width: 400px;
    }

    #article {
        min-width: 100%;
        background-color: white;
    }

    #article h2 {
        font-size: 60px;
    }

    .banniere {
        min-width: 850px;
        margin-left: -40px;
        border: solid white 7px;
        border-radius: 50px;
        margin-bottom: 40px;
    }

    .cannebiere {
        width: 950px;
        height: 330px;
        border-radius: 50px 50px 0 0;
    }

    .prix p {
        margin-top: -30px;
        font-size: 38px;
        padding-bottom: 20px;
        margin-left: 17px;
    }

    .stars {
        font-size: 35px;
        margin-left: 30px;
    }

    .nom_hebergement {
        margin-left: 35px;
    }

    .info {
        max-width: 90%;
        display: flex;
        align-items: baseline;
        margin-left: 70px;
        margin-bottom: -20px;
        margin-top: -70px;
    }

    .info i {
        font-size: 35px;
    }

    nav .info p {
        font-size: 45px;
        margin-left: 20px;
    }

    .fa-info {
        color: #0065FC;
        border: rgb(201, 201, 201) solid 1px;
        padding: 15px 26px 15px 26px;
        border-radius: 100%;
        font-size: 13px;
        margin-right: 5px;
    }

    #filtres ul li {
        font-size: 45px;
        margin-left: 20px;
        margin-bottom: 90px;
    }

    .filtresp {
        margin-bottom: -30px;
    }

    #filtres ul li a {
        font-size: 50px;
        padding: 35px;
        border-radius: 100px;
        margin-bottom: 90px;
    }

    .fa-map-marker-alt {
        font-size: 45px;
        padding: 40px;
        border-radius: 50px 0 0 50px;
        padding-left: 50px;
        padding-right: 50px;
        margin-left: 50px;
    }

    input {
        padding-top: 32px;
        padding-bottom: 32px;
        font-weight: bold;
        border-top: #f2f2f2 solid 1px;
        border-bottom: #f2f2f2 solid 1px;
        border-left: none;
        border-right: none;
        padding-left: 40px;
        font-size: 50px;
        background-color: white;
        padding-right: 40px;
    }

    #filtres ul {
        display: inline-block;
    }

    #search_button {
        display: none;
    }

    #barre_recherche .fa-search {
        display: initial;
        background-color: #0065FC;
        padding: 45px;
        font-size: 45px;
        border-radius: 40px;
    }

    nav h2 {
        margin-left: 50px;
        font-size: 53px;
    }

    nav p {
        margin-left: 50px;
        font-size: 35px;
    }

    nav h2, p {
        max-width: 90%;
    }

    header {
        display: none;
    }

    .headermobile {
        display: initial;
    }

    .headerlogo {
        width: 80%;
        margin-left: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 50px;
        font-weight: bold;
        margin-top: 80px;
    }

    .headerlogo a {
        margin-left: 553px;
        color: #0065FC;
    }

    .logo_reservia {
        width: 250px;
        height: auto;
    }

    .activiteshebergements {
        margin-top: 100px;
        margin-bottom: 150px;
    }

    .activiteshebergements ul {
        display: flex;
        justify-content: space-around;
        font-size: 50px;
        margin-left: -50px;
    }

    .activiteshebergements ul li a {
        color: black;
        border-bottom: solid 8px #f2f2f2;
        padding: 40px;
        padding-right: 150px;
        padding-left: 150px;
        border-radius: 0;
    }

    .activiteshebergements ul li a:hover {
        border-bottom: solid 8px #0065fc;
        color: #0065FC;
    }

    h4 {
        font-size: 50px;
        font-weight: bold;
        padding-top: 50px;
    }

    section {
        display: flex;
    }

    section #article {
        order: 2;
    }

    section aside {
        order: 1;
    }

    li i {
        background-color: #DEEBFF;
        color: #0065FC;
        padding: 10px 15px 10px 15px;
        border-radius: 50px;
        margin-right: 10px;
    }

    #filtres .fa-money-bill-wave {
        background-color: #DEEBFF;
        object-fit: fill;
        color: #0065FC;
        padding: 36px 28px 40px 28px;
        border-radius: 100%;
        margin-right: 10px;
        margin-left: -35px;
    }
    
    #filtres .fa-child {
        background-color: #DEEBFF;
        object-fit: fill;
        color: #0065FC;
        padding: 36px 40px 40px 40px;
        border-radius: 100%;
        margin-right: 10px;
        margin-left: -35px;
    }
    
    #filtres .fa-heart {
        background-color: #DEEBFF;
        object-fit: fill;
        color: #0065FC;
        padding: 36px 40px 40px 40px;
        border-radius: 100%;
        margin-right: 10px;
        margin-left: -35px;
    }
    
    #filtres .fa-dog {
        background-color: #DEEBFF;
        object-fit: fill;
        color: #0065FC;
        padding: 36px 40px 40px 40px;
        border-radius: 100%;
        margin-right: 10px;
        margin-left: -35px;
    }

}

@media all and (device-width: 1024px) and (device-height: 672px) {
    #bloc_page {
        width: 1240px;
    }

    header ul {
        margin-left: 700px;
    }
    
    header p {
        color: #0065FC;
        margin-right: 17px;
    }

    #article {
        width: 55%;
        height: auto;
    }

    .banniere {
        width: 180px;
        height: auto;
    }

    .cannebiere {
        width: 173px;
    }

    .banniere_2 a {
        width: 387px;
    }

    aside {
        padding: 17px;
    }

    .activites_bloc1, .activites_bloc2, .activites_bloc3 {
        margin-right: 20px;
        margin-bottom: 50px;
        border-radius: 20px;
    }

    .vieuxport, .pomegues, .frioul, .calanques, .lagarde, .longchamp {
        width: 282.5px;
    }

    .vieuxporttext, .pomeguestext, .frioultext, .calanquestext, .lagardetext, .longchamptext {
        width: 244px;
    }

    .activites_conteneur {
        justify-content: center;
    }

}

@media all and (device-width: 768px) and (device-height: 672px) {
    #bloc_page {
        width: 1240px;
    }

    header ul {
        margin-left: 700px;
    }
    
    header p {
        color: #0065FC;
        margin-right: 17px;
    }

    #article {
        width: 600px;
    }

    section #article {
        order: 2;
    }

    section aside {
        order: 1;
    }

    aside {
        background-color: #F2F2F2;
        width: 1180px;
        height: auto;
        border-radius: 20px;
        padding: 20px;
        margin-bottom: 50px;
    }

    .banniere_2 a {
        width: 350px;
    }

    .titre_stars {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: -18px;
    }

    section h2 {
        font-weight: bold;
        font-size: 1.5em;
        padding-left: 30px;
        margin-right: 20px;
    }

    .conteneur_lespluspopulaires {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .cannebiere {
        width: 320px;
    }

    #article {
        min-width: 1180px;
        background-color: #F2F2F2;
        padding: 20px;
        border-radius: 20px;
        margin-bottom: 30px;
    }

    .conteneur_hebergements {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .banniere {
        margin-right: 30px;
        margin-left: 30px;
    }

    .activites_conteneur {
        width: 1180px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 60px;
        margin-left: 20px;
    }

    .activites_bloc1, .activites_bloc2, .activites_bloc3, .activites_bloc4 {
        margin-right: 0px;
        width: 250px;
        height: auto;
    }

    .vieuxport, .pomegues, .frioul, .calanques, .lagarde, .longchamp {
        width: 270px;
        height: 100%;
    }

    .vieuxporttext, .pomeguestext, .frioultext, .calanquestext, .lagardetext, .longchamptext {
        width: 230px;
    }

    .pomegues {
        height: 184px;
    }
}

@media all and (device-width: 1280px) and (device-height: 800px) {
    #bloc_page {
        width: 1240px;
    }

    header ul {
        margin-left: 700px;
    }
    
    header p {
        color: #0065FC;
        margin-right: 17px;
    }

    #article {
        width: 55%;
        height: 659px;
    }

    .banniere {
        width: 180px;
        height: auto;
    }

    .cannebiere {
        width: 173px;
    }

    .banniere_2 a {
        width: 387px;
    }

    aside {
        padding: 17px;
    }

    .activites_bloc1, .activites_bloc2, .activites_bloc3 {
        margin-right: 20px;
        margin-bottom: 50px;
        border-radius: 20px;
    }

    .vieuxport, .pomegues, .frioul, .calanques, .lagarde, .longchamp {
        width: 282.5px;
    }

    .vieuxporttext, .pomeguestext, .frioultext, .calanquestext, .lagardetext, .longchamptext {
        width: 244px;
    }

    .activites_conteneur {
        justify-content: center;
    }

    footer {
        width: 102%;
    }

}


